@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}



h1 {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  /* display: flex; */
	max-width: 90vw;
	min-width: 20vw;
    height: 60vh;
	/* margin: 0 auto; */
  padding-bottom: 2em;
}
 .box{
    width: 90vw;
    height: 50vh;
    background-color: #3b3b4f63;
    border-radius: 10px;
   
 }
 .box1{
    width: 90vw;
    height: 15vh;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .box2{
    width: 90vw;
    height: 15vh;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .box3{
        width: 90vw;
        height: 15vh;
        /* border: 2px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-around;
     }
 
fieldset {
  border: none;
  /* padding: 1.2rem 0; */
}
label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
	margin: 0.5rem 0;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input,
textarea,
select {
  margin: 7px 0 0 15px;
	width: 100%;
  min-height: 2em;
}

select, .room {
			width: 7rem;
      padding: 5px;
			border: none;
			background-color: rgba(255, 255, 255);
      box-shadow: rgba(0,0,0,.1) 0 0 8px;			
		}
select {           
			position: relative;
      border-radius: 5px;
      display: inline-block;
		}

input, textarea {
  border: none;
  border-radius: 5px;
  color: rgba(10, 10, 35, 0.7);
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
  color: inherit;
}

@media screen and (max-width: 768px) {

  form {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    min-width: 20vw;
      height: 100vh;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  .box{
    position: relative;
    display: flex;
    /* margin-top: vh; */
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    background-color: #3b3b4f63;
    /* background-color: #3b3b4f63; */
    border-radius: 10px;
   
 }
 .box1{
  position: relative;
  margin-top: 3vh;
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
.box2{
  width: 90vw;
  height: 30vh;
  margin-top: 3vh ;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: black; */
}
.box3{
   
      width: 90vw;
      height: 30vh;
      margin-top: 3vh ;
      /* border: 2px solid black; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      /* background-color: #3b3b4f63; */
      /* background-color: blue; */
   }


}



